@charset "UTF-8";
/* CSS Document created by Gabrielle Gialenios, Spring 2019*/

body {
	font-family: "Serif", Georgia, Arial, Verdana;
	font-size: 14px;
	line-height: 1.2em;
	color: #FFFFFF;
	background-color: #093B40;
	padding: 0 30px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.2em;
	color: #093B40;
}
h1 {
	font-size: 31px;
	padding: 5px 0;
	font-variant: small-caps;
	letter-spacing: .1em;
	line-height: 2em;
}
h2 {
	font-size: 26px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.3em;
	background-color: #00B7C7;
	line-height: 1em;
}
h3 {
	font-size: 13px;
	letter-spacing: 0.3em;
	border-bottom-width: 4px;
	border-bottom-style: inset;
	border-bottom-color: #9B9744;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #093B40;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #2F4F4F;
	text-decoration: none;
}
a:hover {
	color: #2F4F4F;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 13px;
}
ol {
	margin-left: 13px;
}

/* table styles -------------------------------------- */
table {
	border: solid #00B7C7 2px;
}
td {
	padding: 6px;
	border: solid #88DEE0 2px;
}
th {
	font-weight: bold;
	background-color: #00B7C7;
	text-align: center;
	padding: 6px;
	border: solid #00B7C7 2px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #00A5B1 2px;
}

img {
	border: solid #00A5B1 2px;

}

iframe {
	border: solid #00A5B1 2px;
	padding: 8px;
	margin: 8px;
}

/* DIV STYLES FOR PAGE LAYOUT */


#container { 
	width: 975px; 
	margin: 0 auto; 
	background-color: #fff; 
	overflow: hidden; 
}
#header { 
	width: 100%; 
	background-color: #C0C0C0;
	border-bottom: 2px solid #800000;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
#content { 
	width: 600px;
	float: left; 
	padding-bottom: 30px;
	padding-left: 15px;
	padding-right: 15px;
}
#sidebar { 
	width: 278px; 
	float: left;
	margin-top: 50px;
	margin-right: 20px;
	background: #00A5B1;
	border: 1px solid #093B40;
	border-radius: 12px;
	box-shadow: 10px 10px 5px #C0C0C0;
	padding-left:15px;
	padding-right: 15px;
}
#sidebar p{
	padding: 0;
	float: right;
}
#footer { 
	clear: both;
	width: 100%; 
	background-color: #EEE;
	border-top: 1px solid #00A5B1;
	padding-left: 10px;
	padding-right: 10px
}
#footer p {
	margin: 0;
	padding: 40px;
}